<div style="font-family:Segoe UI, Arial, sans-serif; font-size:16px; color:#1f2937; line-height:1.6;">
  <p style="font-size:18px;color:#1f2937;">Dear {CustomerName},</p>

  <p stype="color:#1f2937;">
    Thank you for choosing <b style="color:#33cc66;">GreenWheel</b> for your recent booking.
  </p>

  <p style="color:#1f2937">
    We sincerely apologize that your selected vehicle is 
    <b style="color:red;">no longer available</b> at the chosen station due to a 
    <b style="color:red;">data update delay</b> on our system.
  </p>

  <p style="font-size:17px; font-weight:600; color:#1f2937;">Booking details:</p>
  <ul style="font-size:16px; line-height:1.7; list-style-type:none; padding-left:0; color:#1f2937;">
    <li style="margin-bottom:4px;"><b>- Vehicle:</b> {VehicleModelName}</li>
    <li style="margin-bottom:4px;"><b>- Station:</b> {StationName}</li>
    <li style="margin-bottom:4px;"><b>- Rental period:</b> {StartDate} – {EndDate}</li>
  </ul>

  <p style="color:#1f2937">
    Our staff is updating the system to prevent this issue in the future.<br/>
    We truly appreciate your understanding and patience.
  </p>

  <p style="font-size:17px; font-weight:600; color:#1f2937;">You may:</p>
  <ul style="font-size:16px; line-height:1.7; list-style-type:none; padding-left:0; color:#1f2937;">
    <li style="margin-bottom:4px;">- Choose another <b>vehicle model</b> available at this station, or</li>
    <li style="margin-bottom:4px;">- Visit a nearby <b>GreenWheel station</b> to find a similar vehicle.</li>
  </ul>

  <p style="color:#1f2937">
    Once again, we sincerely apologize for this inconvenience and thank you for your continued support of 
    <b style="color:#33cc66;">GreenWheel</b>.
  </p>

  <p style="font-size:16px; corlor:#1f2937">
    Best regards,<br/>
    <b>The HYCAT Team</b>
  </p>
</div>
